<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Edit ' + ${studentDto.name} + ' ' + ${studentDto.lastName}">Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h3 th:text="'Update student details: ' + ${studentDto.name} + ' ' + ${studentDto.lastName}"></h3>

<nav aria-label=" breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/faculties">Faculties</a></li>
        <li class="breadcrumb-item"><a th:href="@{/faculties/{idFaculty}(idFaculty = ${studentDto.facultyId})}"><span
                th:text="${studentDto.facultyName}">name</span> faculty</a></li>
        <li class="breadcrumb-item"><a
                th:href="@{/faculties/{idFaculty}/courses/{idCourse}/
                (idFaculty = ${studentDto.facultyId}, idCourse = ${studentDto.courseId})}"><span
                th:text="${studentDto.numberCourse}"/> course</a></li>
        <li class="breadcrumb-item"><a
                th:href="@{/faculties/{idFaculty}/courses/{idCourse}/groups/{idGroup}
                (idFaculty = ${studentDto.facultyId}, idCourse = ${studentDto.courseId}, idGroup = ${studentDto.groupId})}"><span
                th:text="${studentDto.numberGroup}"/> group</a></li>

        <li class="breadcrumb-item"><a
                th:href="@{/faculties/{idFaculty}/courses/{idCourse}/groups/{idGroup}/student/{idStudent}
                (idFaculty = ${studentDto.facultyId}, idCourse = ${studentDto.courseId}, idGroup = ${studentDto.groupId}, idStudent = ${studentDto.id})}"><span
                th:text="${studentDto.name} + ' ' + ${studentDto.lastName}"/></a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>

<div class="ml-5">
    <form th:method="PATCH"
          th:action="@{/faculties/{idFaculty}/courses/{idCourse}/groups/{idGroup}/student/{idStudent}
          (idFaculty = ${studentDto.facultyId}, idCourse = ${studentDto.courseId}, idGroup = ${studentDto.groupId}, idStudent = ${studentDto.id})}"
          th:object="${studentDto}">

        <div class="form-group row">
            <label for="groupId">Details of study:</label>
            <div class="col-sm-6">
                <select class="form-control" id="groupId" th:field="*{groupId}">
                    <option th:each="groupDto : ${groupsDto}"
                            th:value="${groupDto.id}"
                            th:text="${groupDto.facultyName + ': ' + groupDto.courseNumber + ' course, ' + groupDto.numberGroup + ' group'}"/>
                </select>
            </div>
        </div>


        <div class="form-group row">
            <label for="name">Enter new name</label>
            <div class="col-sm-6">
                <input type="text" th:field="*{name}" id="name" class="form-control"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="lastname">Enter new last name</label>
            <div class="col-sm-6">
                <input type="text" th:field="*{lastName}" id="lastname" class="form-control"/>
            </div>
        </div>

        <input class="btn btn-primary" type="submit" value="Update"/>
    </form>
</div>

</body>
</html>