<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All students</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

<h3>List of students</h3>
<a th:href="@{/students/create}">Add new student</a>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${students.isEmpty()}">
        <td colspan="2"> No students available</td>
    </tr>
    <tr th:each="student : ${students}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.lastName}"></td>
        <td>
            <div><a th:href="@{/students/update/{id}(id=${student.id})}">change</a></div>
            <div><a th:href="@{/students/delete/{id}(id=${student.id})}">delete</a></div>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>