<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="'Lesson by id: ' + ${lessonInfoDto.lessonId}">Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h3>Lesson data:</h3>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/lessons">Lessons</a></li>
        <li class="breadcrumb-item active" aria-current="page"
            th:text="'Lesson by id: ' + ${lessonInfoDto.lessonId}"></li>
    </ol>
</nav>

<p><strong>ID:</strong> <span th:text="${lessonInfoDto.lessonId}">id</span></p>
<p><strong>Subject:</strong> <span th:text="${lessonInfoDto.subjectName}"/></p>
<p><strong>Date/Time:</strong> <span th:text="${lessonInfoDto.dateTime}"/></p>
<p><strong>Duration:</strong> <span th:text="${lessonInfoDto.duration}"/></p>
<p><strong>Classroom:</strong> <span th:text="${lessonInfoDto.classRoomName}"/></p>

<div class="btn-group"><a th:href="@{/lessons/{id}/edit(id=${lessonInfoDto.lessonId})}" type="button"
                          class="btn btn-primary btn-sm">Edit</a>
</div>
<div class="btn-group">
    <form th:method="DELETE" th:action="@{/lessons/{id}(id=${lessonInfoDto.lessonId})}">
        <input type="submit" value="Delete" class="btn btn-secondary btn-sm"/>
    </form>
</div>

<h3>Lesson for:</h3>
<ul>
    <li th:each="groupDto : ${lessonInfoDto.getGroupsDto()}" th:text="${groupDto.facultyName + ': ' +
    groupDto.courseNumber + ' course, ' + groupDto.numberGroup + ' group'}"/>
</ul>

</body>
</html>